# Single Function Imports
importFrom("SingleCellExperiment", "colData", "reducedDims", "rowData")
importFrom("reshape2", "melt")
importFrom("stringr", "str_split", "str_remove_all")
importFrom("magrittr", "%>%")
importFrom("methods", "new")
importFrom("moments", "skewness")
importFrom("entropy", "discretize")
importFrom("MASS", "negative.binomial")
importFrom("assertthat", "assert_that")
importFrom("parallel", "mclapply","detectCores")
importFrom("DESeq2", "estimateSizeFactorsForMatrix")
importFrom("utils", "View")
importFrom("rlang",".data")
importFrom("slingshot","slingCurves", "slingPseudotime")
importFrom("tibble","rownames_to_column","column_to_rownames")
importFrom("dplyr", "left_join", "join_by", "mutate", "select", "bind_rows", "group_by_at", "summarise", "rename_with")

# Import Entire Libraries
import("ggplot2")
import("stats")
import("glmmTMB")
import("pscl")

# Exports
export("plot_loess_fit")
export("glm_inspection")
export("sc_makeDesign")
export("sc.p.vector")
export("sc.T.fit")
export("sc.sel.features")
export("entropy_discretize")
export("make.pseudobulk.design")
export("make.pseudobulk.counts")
export("extract_slingshot_components")
export("extract_monocle3_components")

# Export Classes
exportClasses("scMaSigProClass", "covariateClass", "parameterClass", "pVectorClass", "sigGeneClass", "tFitClass")

# maSigPro Namespace
importFrom(Biobase, addVigs2WinMenu, readExpressionSet)

importFrom(graphics, abline, axis, curve, lines, par, plot, legend, plot.new)

importFrom(grDevices, dev.off, X11, heat.colors)

importFrom(venn, venn)

importFrom(mclust, Mclust)

importFrom(stats, as.dist, cor, cutree, dist, hclust, influence.measures, 
	   kmeans, lm, median, p.adjust, pf, sd, anova, gaussian, glm, heatmap, as.formula)

importFrom(MASS, negative.binomial)

export(average.rows, get.siggenes, i.rank, make.design.matrix, maSigProUsersGuide,
       p.vector, PlotGroups, PlotProfiles, position, reg.coeffs, see.genes,
       stepback, stepfor, suma2Venn, T.fit, two.ways.stepback, two.ways.stepfor,IsoModel, getDS, seeDS, tableDS, PodiumChange, IsoPlot, getDSPatterns)
